<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam Bem Vindos! </h1>
        </div>
    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex et aspernatur facilis, distinctio ullam ad
                harum odit molestias beatae, aut corporis numquam quas quaerat at non error consectetur provident sit!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt reiciendis soluta recusandae numquam
                mollitia quaerat iusto architecto commodi, obcaecati cum. Maiores, facilis eius molestiae et fuga
                numquam dolore temporibus. Iusto.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore harum vero quod hic, possimus atque quae
                sit non error exercitationem nemo aut quo in quam. Quos nisi numquam doloremque facere.
            </p>
        </div>
    </div>
</div>
<div class="parallax"> </div>
<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>